{{> header}}
    {{#if isAuth}}
        <section class="Homer">
            <h1 style="text-align:center"> Welcome to Homer`s Book Collection!</h1>            
        </section>
    {{else}}
        <div class="basic"></div>
    {{/if}}
{{> footer}}